.multiselect__buttons, .multiselect__selected, .multiselect__unselected {
  display: inline-block;
}

.multiselect__buttons button {
  display: block;
  margin-top: 5px;
}

.multiselect__buttons {
  vertical-align: top;
  margin-top: 35px;
}

.select--multiple {
  width: 12em;
  height: 10em;
}
