<div class="multiselect">
  <selectable-list
    *ngIf="selectedOptions"
    class="multiselect__selected"
  [list]="selectedOptions"
   (onSelect)="setSelectedActive($event)"
  >
  </selectable-list>
  <div class="multiselect__buttons">
    <button class="select" type="button" (click)="select(unselectedActive)"><</button>
    <button class="unselect" type="button" (click)="unselect(selectedActive)">></button>
  </div>
  <selectable-list *ngIf="unselectedOptions"
    class="multiselect__unselected"
                   [list]="unselectedOptions"
                   (onSelect)="setUnselectedActive($event)"></selectable-list>
</div>
