<div class="multiselect">
  <select multiple
          class="select select--multiple multiselect__selected"
          [(ngModel)]="selected"
  >
    <option *ngFor="let option of selectedOptions" [value]="option">{{option.name}}</option>
  </select>
  <div class="multiselect__buttons">
    <button class="select" type="button" (click)="select()"><</button>
    <button class="unselect" type="button" (click)="unselect()">></button>
  </div>
  <select multiple
    [(ngModel)]="unselected"
    class="select select--multiple multiselect__unselected">
    <option *ngFor="let option of unselectedOptions" [value]="option">{{option.name}}</option>
  </select>
</div>
