html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}
body {
  margin: 0;
}
main {
  width: 760px;
  margin: auto;
}

.header__logo {
  display: inline-block;
}
.header__text {
  display: inline-block;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px;
}
.site-footer {
  line-height: 50px;
  text-align: center;
}

.form .form__row {
  margin-top: 10px;
}

.form__row--invalid .form__control {
  border: 1px solid red;
}
