html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}
body {
  margin: 0;
}
main {
  width: 760px;
  margin: auto;
}
.header {
  overflow: hidden;
  width: 760px;
  margin: auto;
}
.header__logo {
  display: inline-block;
}
.header__text {
  display: inline-block;
}
.header__breadcrumbs {
  display: inline-block;
}
.header__user-block {
  margin-top: 20px;
  float: right;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px;
}
.site-footer {
  line-height: 50px;
  text-align: center;
}

.form .form__row {
  margin-top: 10px;
}

.form__row--invalid .form__control {
  border: 1px solid red;
}

.error-notification {
  position: relative;
  border: 1px solid red;
  width: 760px;
  margin: 10px auto;
  min-height: 30px;
}
.error-notification__close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
}
